body {
    width: 100%;
    height: 100%;
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none
}
header {
    background-color: #f95a61;
    height: 100px;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 965px;
    max-width: 100%;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}
h1 {
    color: #2a4758;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    padding-top: 70px;
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
h2 {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    padding-top: 20px;
}
p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    line-height: 1.6rem;
    letter-spacing: .06rem;
}
p.inner {
    width: 80%;
    margin: 0 auto;
}
hr {
    border: 0;
    width: 250px;
    border-top: 2px solid #d8ae64;
    border-bottom: 2px solid #d8ae64;
    margin-bottom: 30px;
    height: 4px;
    background: transparent;
}
.ribbon {
    float: right;
}
.logo {
    float: left;
}
header nav {
    float: right;
    margin: 0;
    display: block;
}
header nav ul {
    float: left;
    text-align: center;
}
header nav li {
    display: inline-block;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
header .logo img {
    max-width: 100%;
    height: auto;
    padding-top: 20px;
}
header nav a:hover {
    background-color: #282828;
    color: #fbcfc6;
}
header nav a {
    font-style: italic;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    margin-bottom: 0rem;
    color: white;
    padding: 3rem 1rem 3rem 1rem;
}
a.learn {
    margin: 0 auto;
    color: #f95a61;
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 400;
}
.icon {
    padding-top: 40px;
}
